@use "../global_styles/abstract/colors" as *;
@import "./abstract/variables.scss";
$syne-font: "Syne", sans-serif;

.lift {
    margin-bottom: -80px;
}

.a_container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}

.a_header {
    display: flex;
    display: row;
}

.a_header_text {
    font-size: 60px;
    margin-left: 7vw;
    margin-right: 50vw;
    margin-bottom: 10px;
}

.a_header_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 150px;
    height: 50px;
    color: #fff;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 0 0.5em 0 $primary;
    cursor: pointer;
}

.a_header_button,
.delete_spotify_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 200px; /* Adjust width as needed */
  height: 50px;
  color: #fff;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  background-color: $primary; /* Change background color */
  border: none;
  cursor: pointer;
  box-shadow: 0 0 0.5em 0 $primary;
}

.delete_spotify_button:hover {
  background-color: darken($primary, 10%); /* Darken color on hover */
  box-shadow: 0 0 0.5em 0 darken($primary, 10%); /* Darken shadow on hover */
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 25%;
    height: 160px
}

.page_selector {
    display:flex;
    align-items: center;
    margin: auto;
    width: 95%;
    height: 50px;
    cursor: pointer;
    &__text {
        font-size: 28px; 
        margin-left:5px;
    }
}

.info {
    width: 75%;
    margin-left: 50px;
}

.light {
    .a_header{
        color: $darkest-purple;
    }
    .page_selector {
        background-color: $darkest-purple;
        &__text {
            color: $white;
        } 
        &.spotify_connected {
            cursor: default; // Make it non-clickable
            background-color: $green; // Change background color to green
            &__text {
                color: $white; // Change text color to white
            }
        }
    }
    .page_selector:hover {
        background: $dark-purple;   
    }
    .page_selector__text:hover {  
            color: $white;
    }
    .a_header_button {
        background: $darkest-purple;
        color: $white;
        box-shadow: 0 0 0.5em 0 $purple-gray;
    }
}

.dark {
    .a_header{
        color: $white;
    }
    .page_selector {
        background-color: $white;
        &__text {
            color: $darkest-purple;
        }
    }
    .page_selector:hover {
        background: $dark-purple; 
    }
    .page_selector__text:hover {  
        color: $white;
}
    .a_header_button {
        background: $white;
        color: $darkest-purple;
        box-shadow: 0 0 0.5em 0 $white;
    }
}