@import "./base/reset";

@import "../components/CustomButtons/Button.module.scss";
@import "./abstract/variables.scss";
@import "./abstract/colors.scss";
main {
  height: calc(100vh - #{$header-height});
  display: flex;
  justify-content: center;
  align-items: center;

  .intro {
    font-size: 38px;
    text-align: center;
    font-weight: 700;
    color: $text2;
    padding: $spacing-md $spacing-lg;
    border-radius: $spacing-sm;
    box-shadow: 0 0 10px $primary;
    margin: 0 $spacing-md;

    margin-top: -$header-height;

    &__focus {
      color: $primary;
    }

    @include breakpoint(md) {
      font-size: 42px;
    }
  }
}

button {
  // reset to default
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
  letter-spacing: inherit;
  color: $bg2;
  font-size: inherit;
  text-align: inherit;
  padding: 0;
}

.ipodContainer {
  display: none;
  @include breakpoint(md) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 0vw;
    margin-top: -225px;
  }
  @include breakpoint(xl) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 8.7vw;
    margin-top: -225px;
  }
}

maintext {
  position: absolute;
  max-width: 600px;
  margin-left: 8.7vw;
  font-weight: 600;
  font-size: calc(1.5vw + 3rem);
  line-height: calc(1.5vw + 3.5rem);

  @include breakpoint(md) {
    max-width: 715px;
  }
}

mainCompareText {
  position: absolute;
  max-width: 400px;
  margin-left: 8.7vw;
  font-weight: 600;
  font-size: calc(1.5vw + 3rem);
  line-height: calc(1.5vw + 3.5rem);

  @include breakpoint(md) {
    max-width: 720px;
  }
}


subtitle {
  position: absolute;
  max-width: 425px;
  margin-left: calc(8.7vw + 2.5px);
  margin-top: 6em;
  font-weight: 300;
  font-size: calc(0.75vw + 1.25rem);
  letter-spacing: 2px;

  @include breakpoint(md) {
    max-width: 500px;
    margin-top: calc(2.8vw + 130px);
  }
}

.star{
  cursor: pointer;
}

.light {
  background-color: $white;
  span {
    color: $dark-purple;
  }
  html {
    background-color: $white;
  }
  .theme-container {
    color: $darkest-purple;
  }
}   

.dark {
  background-color: $darkest-purple;
  color: $white;
  span {
    color: $pink;
  }
  html {
    background-color: $darkest-purple;
  }
  .theme-container {
    color: $white;
  }
}

.theme-container {
  position: absolute;
  bottom: 3%;
  left: 46%;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 7px;
  // Set the color of the button text based on the theme mode
}

