//followed tutortial : https://www.youtube.com/watch?v=8QgQKRcAUvM&t=52s
@use "../global_styles/abstract/colors" as *;
@import "./abstract/variables.scss";

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;

    @include breakpoint(md) {
        width: $sm;
    }
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.stext{
    color: $primary;
    font-size: 60px;
    font-weight: 700;
}

.error{
    display:flex;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    width: 95%;
    height: 75px;
    background: $dark-purple;
    border-radius: 6px;

    &__text{
        margin: auto;
        align-items: center;
        color: white;
        font-size:24px;
        font-weight: 400;
    }
}

.underline{
    width: 95%;
    height: 6px;
    border-radius: 9px;
}

.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.input{
    display:flex;
    align-items: center;
    margin: auto;
    width: 95%;
    height: 50px;
    background: #eaeaea ;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    border: none;
    background: transparent;
    outline: none;
    color: #797979;
    font-size: 15px;
}

.page{
    display: flex;
    justify-content: center;
    gap: 9px;
    width: 100%;
    margin: auto;
    margin-top: 15px;
}

.submit-container{
    display:flex;
    gap: 30px;
    margin: 60px auto;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin: auto;
    width: 300px;
    height: 80px;
    color: #fff;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 0 0 0.5em 0 $primary;
    cursor: pointer;
}

.button:hover{
    background: $dark-purple;
}

.link{
    display: inline-block;
    text-decoration: underline;
}

.space{
    margin-bottom: 100px;
}

.reroute{
    text-decoration: none;
}

.light {
    .stext {
        color: $darkest-purple;
    }
    .underline{
        background: $darkest-purple;
    }
    .button {
        background: $darkest-purple;
        color: $white;
        box-shadow: 0 0 0.5em 0 $purple-gray;
    }
    .page {
        color: $purple-gray;
    }
    .link{
        color: $dark-purple;
    }
    .error {
        background: $dark-purple;
        &__text{
            color: $white;
        }
    }
  }
  .dark {
    .stext {
        color: $white;
    } 
    .underline {
        background: $pink;
    }
    .button {
        background: $white;
        color: $darkest-purple;
        box-shadow: 0 0 0.5em 0 $white;
    }
    .page {
        color: $white;
    }
    .link{
        color: $pink;
    }
    .error {
        background: $pink;
        &__text{
            color: $darkest-purple;
        }
    }
  }