@import "../global_styles/abstract/variables.scss";

.connectText {
    position: relative;
    max-width: 425px;
    margin-left: calc(8.7vw + 2.5px);
    font-weight: 300;
    font-size: calc(0.75vw + 1.25rem);
    letter-spacing: 2px;
  
    @include breakpoint(md) {
      max-width: 500px;
      margin-top: calc(2.8vw + 130px);
    }
  }
  
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
