$num-navigation: 6;

$bg: rgb(23, 5, 31);
$bg2: rgb(255, 255, 255);
$bg3: rgb(84,0,99);
$text: rgb(84,0,99);
$text2: rgb(90, 93, 120);
$text3: rgb(163, 150, 168);
$text4: rgb(205, 205, 205);
$primary: rgb(84,0,99);

$borderW: 2px;  

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-mdlg: 26px;
$spacing-lg: 32px;
$spacing-xlg: 90px;

$header-margin: 115px;
$header-height: 80px;

$sm: 37.5em;
$smmd: 45em;
$md: 55em;
$lg: 64em;
$xl: 75em;

$breakpoints: (
  'md':  ( min-width: $md ),
  'xl': ( min-width:  $xl ),
) !default;

/// Mixin to manage responsive breakpoints
/// @author Kitty Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin breakpoint($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}