@import "../global_styles/abstract/variables.scss";

.musicBox {
  height: 400px;
  background-color: $bg2;
  width: 80%;
  margin-top: 2vh;
  margin-left: 10vh;
  overflow-y: scroll;
}

.songItem {
  height:90px;
 
  color: $bg2;
  background-color: $bg;
 
  
}

.album {
    margin-top: 1vh; 
    margin-left: 2vh;
    width: 80px;
    height: 80px;
    float: left;
}

.songDurationML{
  transform: translate(500px, 0);
}
.vl {
  
}

.songInfo{ 
  

}



