@import "../global_styles/abstract/variables.scss";

.musicBox {
 
  margin: auto;
  margin-top: 10px;
  width: 65vw;
  height: 75vh;
  margin-top: 2vh;
  border-radius: 1vh;
  border-radius: 1vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
  display: inline-block;
}

.musicBox::-webkit-scrollbar{
  display: none;
}

.songItem {
  display: flex;
  align-items: center;
 
  height:90px;
  color: $bg2;
  background-color: pink; 
  
  .songTitleML{
    cursor: pointer;
    padding-left: 5%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 30%;
  }
  .songTitleML:hover{
    
    color: $bg3;
   
  }   
  
  .artistNameML{
    cursor: pointer;
    padding-left: 8%;
    
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 30%;
  }

  .rank{
    padding-left: 10%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 20%;
  }

  .duration{
    padding-left: 15%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 20%;
  }
}

.album {
    margin-top: 1vh; 
    margin-left: 2vh;
    width: 15%;
    height: 80px;
    float: left;
}

.duration{
  display: flex;
  width: 5%;  
  margin-right:25px;
}



