@import "./../global_styles/abstract/variables.scss";
@import "../global_styles/abstract/_colors";

.container {
    height: 200px;
    display: flex;
    flex-direction: column;
}

.user{
    height: 25%;
    display: flex;
    flex-direction: column;
    &__text{
        font-size:36px;
        font-weight: 400;
    }
}

.spotify{
    height: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    &__text{
        font-size:24px;
        font-weight: 400;
    }
}

.light {
  .user__text {
    color: $darkest-purple;
  }
  .spotify__text {
    color: $darkest-purple;
  }
}

.dark {
  .user__text {
    color: $white
  }
  .spotify__text {
    color: $white;
  }
}
