@import "./../global_styles/abstract/variables.scss";
@import "../global_styles/abstract/_colors";

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $bg2;
    border-radius: 8px;
}

.user {
  height: 25%;
  display: flex;
  flex-direction: column; // Display email and user text vertically
}
.user__text {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px; // Add margin between email and user text
}
.spotify {
  height: 10%;
  width: 80%;
  margin-left: 20px;
  margin-top: 20px; // Adjust the margin-top value to create reasonable spacing
  &__text {
      font-size: 24px;
      font-weight: 400;
  }
}

.info_change{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}


.info_change input{
  height: 50px;
  width: 200px;
  border: none;
  background: transparent;
  outline: none;
  color: #797979;
  font-size: 15px;
}

.light {
  .user__text {
    
    color: $darkest-purple;
  }
  .info_change_label {
    color: $darkest-purple;
  }
}

.dark {
  .user {
    &__text {
      color: $white
    }
  }
  .info_change_label {
    color: $white;
  }
}

.info_change_label {
  font-size: 24px;
  font-weight: 400;
  margin-right: 10px;
  margin-bottom: 15px;
}

.info_change_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: $primary; // Updated to use a variable
  color: $white; // Updated to use a variable
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary, 10%); // Darken the background color on hover
  }

  @media screen and (max-width: 768px) {
    width: 100%; // Set width to 100% on smaller screens
    max-width: 200px; // Limit maximum width for better readability
    margin: 10px auto; // Center the button horizontally with margin
  }
}



.info_change_button:hover {
  background-color: #0056b3;
}
