@import "./../global_styles/variables.scss";

.searchbar {
    height: 300px;
    width: 300px;
    font-size: 16px;
    &__input {
        width: 800px;
        padding: 15px;
        font-size: 24px;
    }
}