@use "../global_styles/abstract/colors" as *;
@import "../global_styles/abstract/variables.scss";

.search {
    margin-top: 3vh;
    width: 65%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    height: max-content;
    
    &__wrapper {
        background-color: $bg;
        width: 100%;
        border-radius: 10px;
        height: calc(5px + 4rem);
        padding: 0 15px;
        box-shadow: 0px 0px 8px $bg;
        display: flex;
        align-items: center;
    }
    &__input {
        background-color: transparent;
        border: none;
        height: 100%;
        font-size: 1.25rem;
        width: 100%;
        margin-left: 10px;
        color: $text5;
    }
    &__input::placeholder {
        color: $text4;
    }
    &__results_list {
        width: 100%;
        background-color: $bg;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 8px $bg;
        border-radius: 10px;
        margin-top: 1rem;
        max-height: fit-content;
        color: $text3;
        &__result {
            &:hover {
                background-color: $primary;
          
                .search__results_list__result__title,
                .search__results_list__result__info {
                  color: white; // This will change the color of both the title and the info text on hover
                }
              }
            padding: 10px 20px;
            display: flex;
            align-items: center;
            &__info {
                margin-top: .1em;
                font-size: medium; // Adjust size as needed
                color: $text4; // Adjust color as needed
                display: flex;
                flex-direction: row;
                &__item {
                    margin-right: .75em;
                }
            }
            &__image {
                width: 75px;
                height: 75px;
                border-radius: 8%;
            }
            &__title {
                font-size: large;
                font-weight: bold;
                color: $bg2; // Adjust color as needed

            }
        }
    }
    
    .infoColumn {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }
    
    &__result:hover {
        background-color: #efefef;
    }
    input:focus {
        outline: none;
    }
}
.overlay {
  position: fixed; // or `absolute` depending on your needs
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75); // semi-transparent background
  z-index: 10; // Ensure it's above other content
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark {
    background-color: $bg2;
    
    .search__results_list {
      background-color: $bg2;
      color: $bg2; 
  
      &__result {
        &:hover {
          background-color: darken($bg3, 10%); 
          
          .search__results_list__result__title,
          .search__results_list__result__info {
            color: $bg2; 
          }
        }
      }
  
      &__result__info,
      &__result__title {
        color: $bg; 
      }
    }
  }
