@import "./../global_styles/variables.scss";

.search {
    margin-top: 3vh;
    width: 65%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    height: max-content;
    
    &__wrapper {
        background-color: $bg;
        width: 100%;
        border-radius: 10px;
        height: calc(5px + 4rem);
        padding: 0 15px;
        box-shadow: 0px 0px 8px $bg;
        display: flex;
        align-items: center;
    }
    &__input {
        background-color: transparent;
        border: none;
        height: 100%;
        font-size: 1.25rem;
        width: 100%;
        margin-left: 10px;
        color: $text3;
    }
    &__input::placeholder {
        color: $text4;
    }
    &__results_list {
        width: 100%;
        background-color: $bg;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 8px $bg;
        border-radius: 10px;
        margin-top: 1rem;
        max-height: fit-content;
        color: $text3;
        &__result {
            padding: 10px 20px;
            display: flex;
            &__image {
                width: 75px;
                height: 75px;
                border-radius: 8%;
            }
            &__title {
                font-size: large;
                font-weight: 500;
                margin-top: 10px;
                margin-bottom: auto;
                margin-left: 1rem;
            }
        }
        &__result:hover {
            background-color: $primary;
            color: $text2;
        }
    }
    
    
    &__result:hover {
        background-color: #efefef;
    }
    input:focus{
        outline: none;
    }
}