@use "../global_styles/abstract/colors" as *;
@import "../global_styles/abstract/variables.scss";

.songContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    margin-bottom:50px;
    width: 600px;
    height: 500px;
    background: #fff;
    padding-top: 10px;
    padding-bottom:30px;
    border-radius: 10px;
}

.songInfo{
   display: flex;
    flex-direction: row;
    color: black;
}
.songImage{
    width: 150px;
    height: 150px;
    padding-left: 10px;
}
.playButton{
    transition: .5s ease;
    width: 100px;
    height: 100px;
    padding-left: 10px;
    opacity: 0;
    position: absolute;
    backface-visibility: hidden;
    transform: translate(33%, 25%);
    //-ms-transform: translate(-50%, -50%)
}
.songText{
    padding-left: 10px;
    font-size: calc(.8vw + 0.9rem);
    background: -webkit-linear-gradient($dark-purple, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.songTitle{
    text-transform: uppercase;
    font-weight: 900;
    font-size: calc(2vw + 1.2rem);
}

.songAlbum{
    font-style: italic;
}

.artistImage{
    width: 150px;
    height: 150px;
    padding-left: 10px;
    padding-top: 20px;
    border-radius: 100px;
    
}

.artistInfo{
    display: flex;
    flex-direction: row;
    color: black;
}
.artistName{   
    color: black;
    padding-left: 10px;
    font-size: calc(.8vw + 0.9rem);
    background: -webkit-linear-gradient($dark-purple, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.songImage:hover{
 opacity: 0.3;
}

.playButton:hover{
 opacity: 1;
}
